BoundaryMuonTagger: {

  # larcv manager                  
  IOManager: {
    Verbosity: 0 #  2=normal 1=more info 0=debug/barf
    IOMode: 2 # read/write (saving muon track clusters)
    OutFileName: "output_thrumu_miketest_larcv.root"
    InputFiles: []
    InputDirs: []
    ReadOnlyDataType: [0,1,3]
    ReadOnlyDataName: ["tpc","tpc","chstatus"]
    StoreOnlyType: [2,1,0,0,0,3,3,3,3,3,3,3,3,0,0,0,3,3,3,3,3,3,3]
    StoreOnlyName: ["tpc","tpc","modimgs","marked3d","realspacehits","anodepts","cathodepts","imgendpts","thrumu2d","topspacepts","botspacepts","upspacepts","downspacepts","badchs","gapchs","boundarypixels","unused_topspacepts","unused_botspacepts","unused_upspacepts","unused_downspacepts","unused_anodepts","unused_cathodepts","unused_imgendpts"]
  }

  # larlite manager
  StorageManager: {
    IOMode: 2 # read-only for now
    OutFileName: "output_thrumu_miketest_larlite.root"
    ReadOnlyProducers: ["opflashSat","simpleFlashCosmic","chstatus","triggersim","pmtreadout","saturation"]
    ReadOnlyDataTypes: ["opflash","opflash","chstatus","trigger","opdigit","opdigit"]
    WriteOnlyDataTypes: []
    WriteOnlyProducers: []
  } 

  # top/bot/sides matching
  BMTSideTagger: {
    InputImageProducer: "tpc"
    Neighborhoods: [10,10,10]
    TaggingNeighborhood: [5,5,5]
    Thresholds: [10,10,10]
    EmptyChannelThrehsold: [10,10,10]
    EdgeWinWires: [20,20,20,20,20,20,20,20,20,20,20,20]
    EdgeWinTimes: [20,20,20,20,20,20,20,20,20,20,20,20]
    EdgeWinHitThreshold: [10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0]
    BoundaryClusterMinPixels: [10,10,10]
    BoundaryClusterRadius: [10,10,10]
    SaveMatchImages: true
    UseBadChannels: true
    OutputMatchedPixelImage: "boundarypixels"
    TopSpacePts: "topspacepts"
    BottomSpacePts: "botspacepts"
    UpstreamSpacePts: "upspacepts"
    DownstreamSpacePts: "downspacepts"
    Verbosity: 2
    AStarConfig: {
      PixelThresholds: [50.0, 50.0, 100.0 ]
      NeighborhoodSize: [5,5,5]
      StartPadding: 3
      EndPadding: 3
      LatticePadding: 10
      AcceptBadChannelNodes: true
      MinNumPlanesWithHitPixel: 3
      RestrictPath: true
      PathRestrictionRadius: 30.0
      Verbosity: 0
    }   
    Linear3DConfig: {
      PixelThreshold: 10.0
      TriggerTPCTick: 3200.0
      StepSize: 0.3
      NeighborhoodSquareSize: 5
      NeighborhoodPostTick: 5
    }
    Linear3DMinTrackSize: 15
    Linear3DMinGoodFraction: 0.90
    Linear3DMinMajorityChargeFraction: 0.8
    AStar3DMinGoodFraction: 0.2
    AStar3DMinMajorityChargeFraction: 0.2
  }

  BMTFlashTagger: {
    InputImageProducer: "tpc"
    ImageFromLArCV: true
    Verbosity: 0 # 2=quiet -> 0=most verbose
    #OpflashProducers: ["simpleFlashBeam","simpleFlashCosmic"] 
    OpflashProducers: ["opflashSat"]
    SideMatchedPixelProducer: "boundaryalgo"
    AnodeEndpointProducer: "anodepts"
    CathodeEndpointProducer: "cathodepts"
    ImageEndpointProducer: "imgendpts"
    SearchRowRadius: 10
    ChargeThreshold: [10.0,10.0,10.0]
    ClusteringTimeWindow: [20,20,20]
    ClusteringWireWindow: [20,20,20]
    ClusteringMinPoints: [3,3,3]
    ClusteringRadius: [2.0,2.0,2.0]
    EndpointTimeNeighborhood: [10,10,10]
    TriggerTick: 3200.0
    MicrosecondsPerTick: 0.5
    DriftDistance: 250.0
    DriftVelocity: 0.114
    CathodeDriftTickCorrection: 175.0
  }

  InputLArCVImages: "tpc"
  ChStatusDataType: "LARCV"
  JebWiresFactor: 5.0
  MaxEndPointsToProcess: 200
  StartEntry: 0
  NumEntries: 10
}