StopMu: {

  IOManager: {
    Verbosity: 2
    IOMode: 2
    OutFileName: "output_stopmu_larcv.root"
    InputFiles: []
    InputDirs: []
    ReadOnlyDataType: []
    ReadOnlyDataName: []
    StoreOnlyName: ["stopmu","stopmupixels"]
    StoreOnlyType: [0,3]
    #StoreOnlyName: []
    #StoreOnlyType: []
  }
  StorageManager: {
    OutFileName: "output_stopmu_larlite.root"
    IOMode: 2
    ReadOnlyProducers: []
    ReadOnlyDataTypes: []
    WriteOnlyDataTypes: ["stopmutracks"]
    WriteOnlyProducers: ["track"]
  }

  StopMuSpacePointsFilter: {
    FilterThruByTag: false
    DuplicateRadiuscm: 5.0
    PixelThreshold: 10.0
    TrackLabelingPixelWidth: 5
    TagRowNeighborhood: 10
    TagColNeighborhood: 10
  }
  

  # Inputs
  LArCVInputList:   "/home/twongjirad/working/data/larbys/mike/flistmike_thrumu_larcv.txt"
  LArLiteInputList: "/home/twongjirad/working/data/larbys/mike/flistmike_thrumu_larlite.txt"
  # We list all the different boundary points we've identified
  EndPointProducers: ["unused_topspacepts","unused_botspacepts","unused_upspacepts","unused_downspacepts","unused_anodepts","unused_cathodepts","unused_imgendpts"]
  # Images that have been marked with the 3D reco'd tracks
  ThruMuLabeledImagesProducer: ["marked3d"]
  # At some point, we probably shouldn't even try
  StopMuEndPointLimits: 50
  # Run Entry Control
  StartEntry: 0
  NumEntries: 90
}

